venv 
SODA_backend/settings.py
.idea
.vscode/launch.json
SODA/__pycache__/__init__.cpython-38.pyc
SODA/__pycache__/admin.cpython-38.pyc
SODA/__pycache__/apps.cpython-38.pyc
SODA/__pycache__/models.cpython-38.pyc
SODA/__pycache__/serializers.cpython-38.pyc
SODA/__pycache__/urls.cpython-38.pyc
SODA/__pycache__/views.cpython-38.pyc
SODA/migrations/__pycache__/__init__.cpython-38.pyc
SODA_backend/__pycache__/__init__.cpython-38.pyc
SODA_backend/__pycache__/settings.cpython-38.pyc
SODA_backend/__pycache__/urls.cpython-38.pyc
SODA_backend/__pycache__/wsgi.cpython-38.pyc
SODA_backend/__pycache__/*.pyc
SODA/__pycache__/*.pyc
